Codebase/Builds/VisualStudio2015/Binary/
*.opendb
*.db
Codebase/Builds/VisualStudio2015/.vs/
Codebase/Builds/VisualStudio2015/x64/
Codebase/Builds/VisualStudio2015 - Copy/
Codebase/Builds/VisualStudio2015/int/
Codebase/Builds/VisualStudio2015/Release_AAX/Structure.aaxplugin/Contents/x64/Structure.vst3
Codebase/Builds/VisualStudio2015/Release_AAX/Structure.aaxplugin/Contents/x64/Structure.lib
Codebase/Builds/VisualStudio2015/Release_AAX/Structure.aaxplugin/Contents/x64/Structure.exp
Codebase/Builds/VisualStudio2015/Debug_AAX/Structure.aaxplugin/Contents/x64/Structure.exp
Codebase/Builds/VisualStudio2015/Debug_AAX/Structure.aaxplugin/Contents/x64/Structure.lib
Codebase/Builds/VisualStudio2015/Release_AAX/Structure.aaxplugin/Contents/x64/Structure.aaxplugin
Codebase/Builds/VisualStudio2015/Release_VST/x64/Structure.lib
Codebase/Builds/VisualStudio2015/Structure.v11.suo
Codebase/Builds/VisualStudio2015/Structure.sdf
Codebase/Builds/VisualStudio2015/Debug_AAX/Structure.aaxplugin/Contents/x64/Structure.aaxplugin
Codebase/Builds/VisualStudio2015/Release_VST/x64/Structure.exp
