<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Structure (AAX).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Structure (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Structure (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Structure (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Structure (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Structure (VST3).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>157835C4F21934541FC6F152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2681007F3A82C8F8983A2623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52337206534B652F037C8F2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5380D06FF03903E99D440F4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61010A3AACE825F2BDB03A3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9692BF36E07A33444BF9E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
